</div>  
</div>  

    <footer class="page-footer font-small blue">
  <!-- Copyright -->
  <div style="position: fixed;bottom:0;font-size: large;">© 2020 Copyright:
    <a style="font-size: large;" href="/about-us"> About us</a>
  </div>
  <!-- Copyright -->
    </footer>
</body>
</html>