<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block" style="background-color: rgb(212, 212, 212);">
      <div class="logo">
         <a href="#">
          <img src="/logo/logo.png" alt="martLogo" >
        </a> 
      </div>
      <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar-list">
           
            <li>
<<<<<<< HEAD
=======
              <a href="/findPrdByType">Get Product By Type</a>
            </li>
            <% if(isAuthenticated){%>
              <li>
                <a href="/logout">Logout</a>
              </li> 
            <% }else{ %>
              <li>
                <a href="/sign-up">Signup</a>
              </li>
  
              <li>
                <a href="/login">Login</a>
              </li>
            <% } %>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> 00280aa35c4c5265b4501d31521f0cf8050d0bd2
              <a href="/savePrd">Add Product</a>
            </li>
            <li>
              <a href="/allCartPrd">Carts</a>
            </li>
          
            <li>
              <a href="/findPrdByType">Get Product By Type</a>
            </li>
           
            <!-- login log out and sign up authenciation -->
            
<<<<<<< HEAD
=======
>>>>>>> 14305c20107e4fa18451837585da7799be888aef:views/fragments/navigation.ejs
>>>>>>> 9d7809496e96553e1531fd615d37f7fe1ad323ff
>>>>>>> 00280aa35c4c5265b4501d31521f0cf8050d0bd2
>>>>>>> 1a9a8e9fa1e50ec5a1199a9cc8d179f3fa5b87c1
          </ul>
        </nav>
      </div>
    </aside>
    <!-- END MENU SIDEBAR-->
  
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="header-wrap">
              <form class="form-header" onsubmit="return false;" method="GET">
                <input class="au-input au-input-xl" type="text" name="search"
                  placeholder="Search for products ..." />
                <button class="au-btn-submit" type="submit">
                  Search
                </button>
              </form>
              <div class="cart-area d-n">
                <a href="#">
                  <div class="total">19.22 <span> 2</span> </div> <i class="fa fa-shopping-cart"
                    aria-hidden="true"></i>
                </a>
              
              </div>
            </div>
            <div class="account-wrap"></div>
          </div>
        </div>
      </header>
      <!-- END HEADER DESKTOP--><a href="/loggout" class="au-btn-submit">Logged Out</a>
  

