
<nav style="padding-bottom:1em;" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a  style="font-size: x-large;color: black;font-style:inherit;" class="navbar-brand" href="#">Warriors collection</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
  <!-- <li class="nav-item dropdown">
    <a  style="display:inline-block;"  class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Collections</a>
    <div class="dropdown-menu" style="display:inline;">
      <a class="dropdown-item" href="#">WOMEN</a>
      <a class="dropdown-item" href="#">MEN</a>
      <a class="dropdown-item" href="#">ACCESSORIES</a>
     <a class="dropdown-item" href="#">Housing</a>
    </div>
  </li> -->

  <!--  -->



  <!--  -->
      <% if(!isAuthenticated){%>
        <li class="nav-item">
          <a  style="color: khaki;margin-left:35;" class="nav-link" href="/logout">Logout</a>
        </li> 
      <% }else{ %>  
        <li class="nav-item">
          <a style="color: khaki;" class="nav-link" href="/sign-up">Signup</a>
        </li>

        <li class="nav-item">
          <a  style="color: khaki;" class="nav-link" href="/login">Login</a>
        </li>
      <% } %>

      <li>
          <a href="/list-of-cart" class="nav-link" style="margin-left:65em;color:yellow;">
            <span style="color:black;font-size: x-large;" class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
          </a>
        </li>
    </ul>
  </div>
</nav>








