<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block" style="background-color: rgb(212, 212, 212);">
      <div class="logo">
         <a href="#">
          <img src="/logo/logo.png" alt="martLogo" >
        </a> 
      </div>
      <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar-list">
            
            <li>
              <a href="/findPrdByType">Get Product By Type</a>
            </li>
            <% if(isAuthenticated){%>
              <li>
                <a href="/logout">Logout</a>
              </li> 
            <% }else{ %>  
              <li>
                <a href="/sign-up">Signup</a>
              </li>
  
              <li>
                <a href="/login">Login</a>
              </li>
            <% } %>
            <!-- login log out and sign up authenciation -->
          </ul>
        </nav>
      </div>
    </aside>
    <!-- END MENU SIDEBAR-->
  
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="header-wrap">
              <div class="cart-area d-n">
                <a href="#">
                  <div class="total">Shopping Cart<span>2</span> </div> <i class="fa fa-shopping-cart"
                    aria-hidden="true"></i>
                </a>
              
              </div>
            </div>
            <div class="account-wrap"></div>
          </div>
        </div>
      </header>
      <!-- END HEADER DESKTOP--><a href="/loggout" class="au-btn-submit">Logged Out</a>
  

