<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <h1 style="margin-left:18em;">Page not available.</h1>
      <a style="position: fixed;bottom:0;margin-left:110em" href="/" class="btn btn-primary">Back</a>
    </div>











<%- include('includes/footer.ejs') %>