<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <h1 style="margin-left:18em;">About us</h1>
        <p style="font-size: medium;">
            We call our self warriors because that is who we are. We are a group of university students
            who built this website with no prior experience in computer science. A warrior stands for
            him or herself and for what he or she believes. When we decide to do this online shopping we believed
            that we can do it first. And we did it!!
            
            In our online shopping you can find warriors collections and in the future we will have our own brand.
        </p>
      <a style="position: fixed;bottom:0;margin-left:110em" href="/" class="btn btn-primary">Back</a>
    </div>











<%- include('includes/footer.ejs') %>