<%- include('includes/head.ejs') %>

<body>

    <%- include('includes/navigation.ejs') %>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Thank you</strong> for shopping with us.Come back again!</p>
    <hr>
    <p>
   
      Having trouble?  <a href="codewarriorstestemail@gmail.com?Subject=Hello%20again">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
  </div>
  <%- include('includes/footer')%>