<%- include('../includes/head.ejs') %>
<body>

    <%- include('../includes/navigation.ejs') %>


 
  <div class="container">
      <form action="/confirm" method="POST">
        <h2>Confirmation page</h2>
        <!-- id hidden -->
        <div class="form-group">
             <input type="hidden" name="userid" value="<%= userid %>">
         </div>
         <!-- confrimation -->
        <div class="row">
          <div class="form-group col-md-6">
          <input type="text" name="confirm" class="form-control"  placeholder="Please enter confirmation here">
          </div>
        </div>
        <!-- button -->
        <div class="row">
          <div class="form-group col-md-6">
          <button type="submit" class="btn btn-primary btn-lg">Ok</button>
          </div>
        </div>
    </form>
  </div>


<!-- below is add form ====>  end    -->
            </div>

        </div>

   </div>

</div>

<%- include('../includes/footer.ejs') %>
