<%- include('../includes/head.ejs') %>

<body>

  <%- include('../includes/navigation.ejs') %>
      <div class="container">
          <h1>Forgot Password</h1>
          <!-- below is add form ====>  start -->
          <form action="/forgot-password" method="POST">
            <!-- email -->
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="email" class="form-control" placeholder="Please enter your email">
              </div>
            </div>
            <!-- new pass -->
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="password" class="form-control" placeholder="Please enter new Password">
              </div>
            </div>
            <!-- confirm pass -->
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="confirmPW" class="form-control" placeholder="confirm Password">
              </div>
            </div>
            <!-- submit -->
            <div class="row">
              <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>

          </form>
          <!-- below is add form ====>  end    -->
        </div>


  <%- include('../includes/footer.ejs') %>