<%- include('../includes/head.ejs') %>

<body>

    <%- include('../includes/navigation.ejs') %>

 

          <!-- below is add form ====>  start -->
          <div class="container">
            <form action="/save-product" enctype="multipart/form-data" method="POST">
           <!-- id -->
                <input type="hidden" name="_id" class="form-control" id="inputEmail4" placeholder="Product Id">
            <!-- pdt name -->
            <div class="row">
              <div class="form-group col-md-6">
              <label for="inputPassword4">Product Name</label>
              <input type="text" name="name" class="form-control" id="inputPassword4" placeholder="Product Name">
             </div>
            </div>
            <!-- pdt price -->
             <div class="row">
              <div class="form-group col-md-6">
              <label for="inputAddress">Product Price</label>
              <input type="text" name="price" class="form-control" id="inputAddress" placeholder="Product Price">
            </div>
            </div>
            <!-- pdt image -->
            <div class="row">
              <div class="form-group col-md-6">
              <label for="image">Select image: </label>
              <input type="file" name="image" id="image" accept=".png">
              <!-- <label for="inputAddress2">Image</label>
              <input type="text" name="image" class="form-control" id="inputAddress2" placeholder="Image Url"> -->
            </div>
            </div>
            <!-- pdt category -->
            <div class="row">
              <div class="form-group col-md-6">
                <label for="inputCity">Product Category</label>
                <input type="text" name="category" class="form-control" id="inputCity" placeholder="Product Category">
              </div>
           </div>
           <!-- description -->
           <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleFormControlTextarea4">Description</label>
                <textarea placeholder="Enter product description here" name="description" class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
              </div>
           </div>
           <!-- button -->
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>
          </div>

          

 